@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, #9e9e97, #473651);
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: #151515;
    text-shadow: 2px 2px #f5f5f5;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #7b757b;
    border-radius: 10px;
    
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #403e3e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #604e5b;
    background: linear-gradient(45deg, #524a52, #8039a0);
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    /* Add shadow and transition */
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #80bdff;
    outline: none;
}

::placeholder {
    color: #aaa;
    font-style: italic;
}

input:required {
    border-left: 3px solid #3a0443;
}

input:invalid {
    border-color: #501473;
}

label::after {
    content: ":";
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
    content: "✔";
    color: rgb(72, 3, 77);
    font-weight: bold;
    margin-right: 5px;
}

select option:nth-child(odd) {
    background-color: #e9ecef;
}

textarea::placeholder {
    font-style: italic;
    color: #ccc;
}

/* New styles to display radio buttons in a single row */
.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group label {
    margin-right: 15px;
    display: inline-block;
}
